

<div class="contact-form-wrap">

    <form action="https://formkeep.com/f/7e50100bf442"
    accept-charset="UTF-8"
    method="POST">
    <input type="hidden" name="utf8" value="✓">
    
    <div class="two-inputs-wrap">

        <div class="input-wrap">
            
            <input type="phone" placeholder="מספר טלפון" id="phone-input" name="phone">
        </div>
        <div class="input-wrap">
            
            <input type="text" placeholder="שם מלא" id="full-name" name="phone">
        </div>
    </div>
    <div class="input-wrap">
            
        <textarea placeholder="הודעה" id="note" name="note"></textarea>
    </div>
    <div class="submit-wrap">

        <button type="submit">Submit</button>
    </div>
</form>
</div>