

<div class="inner-section contact-section">
    <div class="contact-links">

        <a href="tel:{{site.phone}}" class="contact-link grow">

            <i class="fa fa-phone" aria-hidden="true"></i>
            חייגו אליי
        </a>


        <a href="whatsapp://send?text=שלום שמעון. אשמח לשמוע אודות הטיפולים בקליניק!&phone={{site.whatsapp_number}}" class="contact-link grow">

            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            וואטסאפ
        </a>
        
        <a href="{{site.gmap_address}}" target="_new" class="contact-link grow">

            <i class="fa fa-car" aria-hidden="true"></i>
            מפת הגעה
        </a>
    </div>
    <div class="vcf-link">
        <a class="grow" href="contact-card.vcf">שמור אותי באנשי קשר<i class="fa fa-plus"></i></a>
    </div>
</div>
