{% comment %} 
  Previous / Next functions
  Assign variables from the entire portfolio collection
{% endcomment %}
{% assign items_raw = site.treatments %}
{% assign items = items_raw | sort: 'title' %}

{% if items.size > 1 %}
  {% comment %}
    Store the index position of the matching items
  {% endcomment %}
  {% for item in items %}
    {% if item.permalink == page.permalink %}
      {% assign item_index = forloop.index %}
    {% endif %}
  {% endfor %}
  
  {% assign prev_index = item_index | plus: 1 %}
  {% assign next_index = item_index | minus: 1 %}
  
  {% for item in items %}
    {% if forloop.index == prev_index %}
      {% assign prev = item %}
    {% endif %}
    {% if forloop.index == next_index %}
      {% assign next = item %}
    {% endif %}
  {% endfor %}
    <h4 class="next-prev-title">
        טיפולים נוספים
    </h4>
  <p class="next-prev-p">
    {% if prev %}
      <a href="{{site.baseurl}}{{ prev.url }}" class="prev" title="{{ prev.title }}">&lt; {{ prev.title }}</a>
    {% endif %}
    {% if prev and next %}
      <span> | </span>
    {% endif %}
    {% if next %}
      <a href="{{site.baseurl}}{{ next.url }}" class="next" title="{{ next.title }}">{{ next.title }} &gt;</a>
    {% endif %}
  </p>
{% endif %}