
    
<div class="phone-contact-section">
    <h2>לקבלת פרטים נוספים / תיאום הגעה לחצו כאן:</h2>
    <div  class="whatsapp-link-wrap">
      <a href="whatsapp://send?text=שלום שמעון. אשמח אם תיצור איתי קשר!&phone={{site.whatsapp_number}}" class="whatsapp-link">
        <i class="fa fa-whatsapp"></i>
      </a>
    </div>
    <div  class="phone-link-wrap">
      <h3>או התקשרו אליי למספר</h3>
      <a href="tel:{{site.phone}}" class="phone-link">
        {{site.phone}}
      </a>
    </div>
    <div  class="dress-wrap">
      הקליניק של שמעון - המשחררים 104/53 באר שבע
    </div>
  </div>
  <div class="clear" ></div>