

#accessibility_wrap{
    background: wheat;
    color: #332a1a;
    a{
        color: black;
    }
}

.accessibility .item {
    font-size: 25px;
    border-bottom: 1px solid;
    margin: 12px;
    font-family: monospace, sans-serif, serif;
    color: black;

  }

.accessibility a.acc-icon{
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
    background: white;
    color: black;
    width: 20px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0px;
    &.reset{
        width: auto;
        height: auto;
        font-size: 0.9em;
    }
}

.accessibility .label{
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.accessibility .state{
    float: left;
    font-size: 0.8em;
    padding-top: 20px;
}


body.biggerfont-1{
   font-size: 18px;
}

body.biggerfont-2{
    font-size: 20px;
}

body.biggerfont-3{
    font-size: 25px;
}


body.contrastOn {
    img{
        -webkit-filter: grayscale(100%);
    }
    .main-content,.main-content *,.site-footer,.top-menu .main-cat{

        background: white !important;
        color: black !important;
        border-color: black;
        a{
            color: blue !important;
        }

    }
    .site-footer{

        border-top: 1px solid black;
    }
}

body.linksOn{
    .header,.main-content{

        a{
            text-decoration: underline !important;
        }
    }
}

body{
    .accessibility{
        .biggerfont{
            display: none;
        }
        .biggerfont-0-label{
            display: block;
        }
        .contrast-on-label{
            display: none;
        }

        .links-on-label{
            display: none;
        }
    }

    &.biggerfont-1{
        .biggerfont.biggerfont-1-label{
            display: block;
        }
        .biggerfont-0-label{
            display: none;
        }
    }

    &.biggerfont-2{
        .biggerfont.biggerfont-2-label{
            display: block;
        }
        .biggerfont-0-label{
            display: none;
        }
    }
    &.biggerfont-3{
        .biggerfont.biggerfont-3-label{
            display: block;
        }
        .biggerfont-0-label{
            display: none;
        }
    }
    &.linksOn{
        .links-on-label{
            display: block;
        }
        .links-off-label{
            display: none;
        }
    }
    &.contrastOn{
        .contrast-off-label{
            display: none;
        }
        .contrast-on-label{
            display: block;
        }
    }
} 