---
layout: default
---

<div  class="page-title   fadeindelay-on-view">
  <h1 class="main-title">הקליניק של שמעון</h1>
  <h3 class="second-title">מטפל במגע | רפלקסולוג בכיר</h3>
  <h4>משנת 2005</h4>
</div>

    {% include contact-links.html %}

    {% include home-treatments.html %}
    
    {% include about-home.html %}

    {% include home-galery.html %}
    <div class="new-section">

      {% include testimonials.html %}
    

      {% include phone-contact.html %}
      
    </div>

 

    {{ content }}
